/*   Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* ======font family=========
font-family: 'Open Sans', sans-serif;
*/

:root{

  --thmColor: #1779BC;
  --textColor: fff;

  --f18 : 18px;
  --f20 : 20px;
  --f22 : 22px;
  --f24 : 24px;
  --f28 : 28px;
  --f30 : 30px;
  --f32 : 32px;
  --f36 : 36px;
  --f40 : 40px;
  --f48 : 48px;

}


body {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

img{
  max-width: 100%;
}
  
button {
  cursor: pointer; 
  border: none;
  padding: 0;
  background: none;
}

a:focus,
button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  text-decoration: none; }

a,
button {
  color: inherit;
  outline: medium none; 
  text-decoration: none;
}

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0; }

 
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  font-weight: 600;
 }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }


.thm_btn{
    background: var(--thmColor);
    color: #fff;
    padding: 7px 16px;
    display: inline-block;
    border-radius: 8px;
    font-size: 15px;
}

/* default-css END 
================================== */
 


.header-area {
  padding: 30px 0; 
  width: 100%;
  z-index: 99; 
  background: #ff7c47;
}
.menu-area nav ul li {
  list-style: none;
  display: inline-block;
}

.menu-area nav ul li a {
  font-size: 16px;
  display: inline-block;
  margin-left: 60px;
  position: relative;
}

/* humbergar */
.bar a {
  width: 35px;
  height: 35px;
  float: right;
  position: relative;
} 
.bar a span {
  width: 100%;
  height: 3px;
  background: #fff;
  display: block;
  position: relative;
  top: 17px;
  border-radius: 30px;
  transition: .3s;
} 
.bar a span:before {left: 0;content: "";position: absolute;width: 100%;height: 100%;background: #fff;bottom: 10px;border-radius: 30px;transition: .3s;} 
.bar a span:after {left: 0;content: "";position: absolute;width: 100%;height: 100%;background: #fff;bottom: -10px;border-radius: 30px;transition: .3s;}
 
/* humbarger END */
 

/* mobile-menu START */
.mobile-menu {
  position: fixed;
  width: 320px;
  height: 100vh;
  background: #ffffff;
  z-index: 99;
  box-shadow: 0px 0px 9px -1px #737373;
  top: 0;
  left: 0;
  transition: .3s;
  margin-left: -400px;
  padding-left: 40px;
  padding-top: 100px;
}
.siteBar{
  margin-left: 0; 
}
.mobile-menu ul#pills-tab {
  margin-top: 90px;
  margin-bottom: 35px !important;
  display: block;
}
.mobile-menu  nav ul li {
  list-style: none;
  display: block;
}

.mobile-menu nav ul li a {
  color: #272835;
  font-size: 16px;
  line-height: 40px;
  transition: .3s;
}

.mobile-menu a.bars {
  position: absolute;
  right: 20px;
  top: 15px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 32px;
  color: rgb(255, 0, 43);
}

/* Header section END */


/*============ Area Start =============*/
.purchase-area {padding: 50px 0;}

.df-text p {font-size: 18px;font-weight: 500;display: block;margin-top: 15px;}
.top__content {margin-bottom: 30px;}

.top__content h4 {
    margin-bottom: 14px;
}

.top__content small {
    display: block;
    max-width: 481px;
    margin: auto;
    margin-top: 14px;
}

.top__content span {
    font-size: 18px;
    display: block;
}

.top__content > span {
    margin-bottom: 16px;
    font-weight: 500;
}

.top__content h2 {
    margin-bottom: 20px;
}

.Order__id i {
    font-size: var(--f40);
    color: #1779BC;
}

.Order__id i.red__color {
    color: red;
}

.box__style {border: 2px solid #000;border-radius: 10px;background: #FAFAFA;padding: 20px;margin-bottom: 30px;}


.input__blk input {
    width: 100%;
    border: 2px solid #0008;
    border-radius: 8px;
    height: 40px;
    padding: 0 12px;
}

.input__blk label {
    font-weight: 700;
    margin-bottom: 8px;
    font-size: 15px;
    width: max-content;
}

.order__step {border: 1px solid #0003;border-radius: 5px;padding: 20px;margin-bottom: 20px;}

.order_address {
    border: 1px solid #0003;
    border-radius: 0 0 5px 5px;
    border-top: 0;
    margin-top: -2px;
    margin-bottom: 20px;
}


.order_address__text label {font-weight: 500;}

.order_address__text span {
    color: var(--thmColor);
    display: block;
    line-height: 2;
}

.order_address__text {
    padding: 20px;
}

.order_address__text p a {
    color: var(--thmColor);
}

.order_address__text p {
    font-size: 15px;
}

.order__step ul {
    display: flex;
    justify-content: space-between;
}

.order__step ul li {
    text-align: center;
    color: var(--thmColor);
    position: relative;
    z-index: 1;
    filter: grayscale(.7);
    text-transform: capitalize;
}

.order__step ul li.active {
    filter: grayscale(0);
}

.order__step ul li:before {
    content: "";
    position: absolute;
    width: 150px;
    height: 2px;
    background: var(--thmColor);
    left: 66%;
    top: 11px;
}

.order__step ul li:last-child:before {
    display: none;
}

.order__step ul li i {
    margin-bottom: 10px;
    width: 30px;
    background: #ffff;
    position: relative;
    z-index: 9;
}

.order__step ul li h6 {
    margin-bottom: 0px;
    font-size: 14px;
    text-transform: capitalize;
}

.order__item {background: #FAFAFA;padding: 30px;border: 1px solid #0003;border-radius: 5px;margin-bottom: 20px;/* height: calc(100% - 100px); */}

.order__item.Cancel {
    border-color: red;
}

.order__item ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    text-transform: capitalize;
}

.order__item ul li h4 {
    margin-bottom: 0;
    opacity: .7;
    font-weight: 600;
}

.order__item ul li h4 small {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    opacity: .6;
}

.order__item ul li h5 {
    margin: 0;
    font-weight: 500;
}

.order__item ul li span {font-weight: 500;text-transform: capitalize;}

.order__item ul li hr {
    width: 100%;
    margin: 5px 0;
    opacity: .1;
}

.order__item ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
}

.order__item ul li a i {
    width: 50px;
    height: 50px;
    background: #3698d5;
    border-radius: 10px;
}

.order__item ul li a i label {
    font-style: normal;
    font-size: 12px;
    background: #0008;
    color: #fff;
    width: max-content;
    padding: 0 6px;
    border-radius: 10px;
    width: max-content;
    margin-left: auto;
    margin-right: -10px;
    margin-top: -5px;
}
.order__info {border: 1px solid #0003;border-radius: 5px;padding: 20px;display: flex;flex-wrap: wrap;justify-content: space-between;margin-bottom: 30px;position: relative;}

label.Cancelled {
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    background: #ff000014;
    font-weight: 500;
    padding: 8px 24px;
    border-radius: 7px;
    top: 10px;
    right: 10px;
    font-size: 15px;
}


.order__info p {
    font-size: 15px;
    opacity: .9;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.order__info li p i {
    display: inline-block;
    border: 1px solid #0002;
    padding: 0px 7px 4px;
    max-width: 50px;
    border-radius: 3px;
}

.order__info li p strong {
    font-weight: 600;
}

.order__info ul {
    width: 45%;
}

.order__info ul li b {
    text-transform: capitalize;
    opacity: .8;
    margin-bottom: 10px;
    display: block;
}

.order__info h4 {
    flex-basis: 100%;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.order__btm {display: flex;align-items: center;justify-content: space-between;}

.order__btm p a {
    color: var(--thmColor);
}

.order__btm button {
    text-transform: capitalize;
    font-weight: 500;
    padding: 20px 30px;
}
/*============ Area End =============*/


/*============ Area Start =============*/

/*============ Area End =============*/